@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}
.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
.red-dot {
  width: 10px;
  height: 10px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: -3px;
  animation: blink 1s infinite;
}
